.vim/dein

.DS_Store
Thumbs.db
*~

*.orig
*.bak
*.log
*.tmp

tags

vendor/
node_modules/

*.a
*.app
*.d
*.dll
*.elf
*.exe
*.exp
*.gch
*.gem
*.idb
*.ilk
*.ko
*.la
*.lai
*.lib
*.lo
*.lo
*.map
*.o
*.obj
*.out
*.pch
*.pdb
*.rbc
*.slo
*.so
